# Node.js dependencies
node_modules/

#dist folder
dist/

# TypeScript compiled files
*.js
*.js.map
*.d.ts

# Environment variables
.env

# Logs
*.log
/logs

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
/.idea

*.html